#checkout-steps {
  span {
    position: relative;
    margin-right: 20px;

    &::after {
      content: url('/spree/checkout/chevron-right.svg');
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
    }

    a {
      color: var(--spree-checkout-link-color);

      &:hover {
        color: var(--spree-checkout-link-color);
      }

      &.completed {
        color: rgb(25,144,198);
      }
    }
  }

  span:last-child::after {
    display: none;
  }
}

.notation-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &::before {
    margin-right: 1.4rem;
  }

  &::after {
    margin-left: 1.4rem;
  }

  &::before,
  &::after {
    content: "";
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: var(--spree-checkout-border-color);
    border-bottom: 0;
    height: 1px;
    flex: 1 0 2.6rem;
  }
}


div#checkout-so-far {
  display: grid;
  grid-template-columns: max-content minmax(0, auto) max-content;
  align-items: center;

  span.fw {
    grid-column: 1/4;
  }

  ul.list-group {
    margin-bottom: 0;

    li {
      padding: 10px;
    }
  }
}
