#checkout-steps {
  span {
    position: relative;
    margin-right: 20px;
    font-size: 90%;

    &::after {
      content:'';
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2hldnJvbi1yaWdodCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00LjY0NiAxLjY0NmEuNS41IDAgMCAxIC43MDggMGw2IDZhLjUuNSAwIDAgMSAwIC43MDhsLTYgNmEuNS41IDAgMCAxLS43MDgtLjcwOEwxMC4yOTMgOCA0LjY0NiAyLjM1NGEuNS41IDAgMCAxIDAtLjcwOHoiLz4KPC9zdmc+Cg==");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      display: inline-block;
      position: absolute;
      width: 14px;
      height: 14px;
      top: 3px;
      right: -18px;
    }

    a {
      text-decoration: var(--spree-checkout-link-text-declaration);
    }
  }

  span:last-child::after {
    display: none;
  }
}

.notation-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &::before {
    margin-right: 1.4rem;
  }

  &::after {
    margin-left: 1.4rem;
  }

  &::before,
  &::after {
    content: "";
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: var(--spree-checkout-border-color);
    border-bottom: 0;
    height: 1px;
    flex: 1 0 2.6rem;
  }
}


div.checkout-so-far {
  display: grid;
  grid-template-columns: max-content minmax(0, auto) max-content;
  align-items: center;

  span.fw {
    grid-column: 1/4;
  }

  ul.list-group {
    margin-bottom: 0;

    li {
      padding: 10px;
    }
  }
}
