<hr>

<div class="w-100 text-center">
  <small class="text-muted">
    This is the copyright for the checkout ... more info and something else
  </small>
</div>

<div class="w-100 text-center">
  <small class="text-muted">
    <% if spree_checkout_menu.present? %>
      <% spree_checkout_menu.children.each do |parent| %>
        <%= spree_checkout_spree_nav_link_tag(parent, data: {turbo_frame: :modal}) %> |
      <% end %>
    <% end %>
  </small>
</div>
