<div class="mb-1" style="width:100px; margin: auto;">
  <%= spree_checkout_logo %>
</div>

<div id="checkout-progress" class="mb-3" data-hook="checkout_header">
  <%= spree_checkout_checkout_progress_line %>
</div>

