:root {
  body {
    --spree-checkout-aside-bg: #fafafa;
    --spree-checkout-border-color: #d7dcde;
    --spree-checkout-border-radius: 5px;
    --spree-checkout-link-color: #717171;
    --spree-checkout-link-active-color: rgb(85, 129, 161);
    --spree-checkout-link-color-hover: #d7dcde;
  }
}


@media only screen and (min-width: 1000px) {
   div#checkout-container {
    &::before {
      background-color: var(--bs-body-bg);
    }

    &::after {
      border-left: 1px solid  var(--spree-checkout-border-color);
      background-color: var(--spree-checkout-aside-bg);
    }
   }
}
